<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">E-mail</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @my_friend.each do |f| %>
      <tr>
        <th scope="row"><%= f.email %></th>
        <td><%= f.first_name %></td>
        <td><%= f.last_name %></td>
        <td><%= link_to 'Stop Following', '#', class: 'btn btn-sx btn-warning' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
